html, body {
  height: 100%;
  overflow: scroll; }

.bg {
  background: url("../../images/blog-bg2.png");
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.bg-blur {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); }

.content-front {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex; }

.left-box {
  width: 180px;
  min-height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.1); }
  .left-box .head {
    width: 120px;
    height: 120px;
    border-radius: 90px;
    background-size: cover;
    margin: 60px auto 10px;
    box-shadow: 0 0 15px 0 #dfdfdf; }
  .left-box .author {
    width: 120px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    color: #b3b3b3; }
    .left-box .author p {
      margin: 10px; }
    .left-box .author .intro-text {
      font-size: 12px; }
  .left-box .blog-nav {
    font-size: 16px;
    margin: 25px 0;
    margin-right: 40px;
    max-height: 400px;
    overflow: scroll;
    color: #fff; }
    .left-box .blog-nav ul {
      list-style: none; }
      .left-box .blog-nav ul li {
        text-align: right;
        padding-right: 10px;
        height: 25px;
        line-height: 25px;
        margin-bottom: 10px; }
      .left-box .blog-nav ul .active {
        border-right: 3px solid #fff; }

.right-box {
  flex: 1;
  margin: 30px 40px 0;
  overflow: scroll; }
  .right-box .nav-name {
    font-size: 20px;
    margin: 0px 0 10px;
    padding: 0;
    color: #b3b3b3; }
  .right-box .tag-contets {
    width: 100%; }
    .right-box .tag-contets .content-box {
      border-radius: 10px;
      margin-bottom: 40px;
      background: rgba(255, 255, 255, 0.2);
      color: #fff; }
      .right-box .tag-contets .content-box .article-title {
        font-size: 16px;
        text-align: center;
        margin: 10px 10px 8px; }
      .right-box .tag-contets .content-box .content-main {
        overflow: scroll;
        padding: 15px 20px;
        letter-spacing: 1px; }
      .right-box .tag-contets .content-box .article-intro, .right-box .tag-contets .content-box .article-main-content {
        font-size: 14px;
        padding: 12px 0 12px;
        margin: 0; }
      .right-box .tag-contets .content-box .article-main-content {
        text-indent: 43px;
        line-height: 20px; }
      .right-box .tag-contets .content-box .content-bottom {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 0 0 10px 10px;
        padding: 15px; }
        .right-box .tag-contets .content-box .content-bottom .date {
          font-size: 12px;
          text-align: center;
          padding: 0;
          margin: 0; }

.responsive-top-nav {
  position: fixed;
  background: #fff;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: none; }
  .responsive-top-nav p {
    padding: 0;
    margin: 0;
    margin-bottom: 5px; }
  .responsive-top-nav i {
    font-size: 30px;
    padding: 10px; }

.responsive-head {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-size: cover;
  margin-right: 10px; }

.responsive-left-nav {
  background: #fff;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  position: fixed; }
  .responsive-left-nav .responsive-left-nav-content {
    position: absolute;
    display: table;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
    width: 100%;
    text-align: center; }
    .responsive-left-nav .responsive-left-nav-content ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .responsive-left-nav .responsive-left-nav-content li {
      padding: 10px 0; }
    .responsive-left-nav .responsive-left-nav-content .active {
      border-bottom: 2px solid #eee; }

@media screen and (max-width: 780px) {
  .left-box {
    display: none; }

  .right-box {
    width: 100% !important;
    margin: 80px 40px 0; }

  .responsive-top-nav {
    display: flex;
    background: rgba(255, 255, 255, 0.3); } }
.responsive-top-nav-name {
  font-size: 14px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media screen and (min-width: 1000px) {
  .right-box {
    padding: 0 80px; }

  .left-box {
    width: 220px; } }

/*# sourceMappingURL=article.css.map */
