@font-face {
  font-family: 'KaushanScript-Regular';
  src: url("../../fonts/KaushanScript-Regular.ttf"); }
@font-face {
  font-family: 'Space-Mono-Regular';
  src: url("../../fonts/Space-Mono-Regular.ttf"); }
#app, .resume-page {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.block-name {
  font-size: 35px;
  margin: 0 0 40px;
  padding: 0;
  text-align: center;
  width: 100%; }

.block-box {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  width: 100%;
  height: 721px; }

.header-container {
  background-image: url("../../images/resume/cover-bg.jpg");
  width: 100%;
  height: 721px;
  position: relative; }
  .header-container .contain-box {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 130px 0 10px; }
    .header-container .contain-box .head-img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-image: url("../../images/resume/head-img.jpg");
      background-size: cover;
      margin: 0 auto; }
    .header-container .contain-box .header-name-box {
      font-size: 50px;
      color: #fff;
      transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      margin: 20px;
      padding: 0; }
      .header-container .contain-box .header-name-box .name {
        font-family: 'KaushanScript-Regular';
        position: relative;
        padding: 0 30px 0 20px; }
      .header-container .contain-box .header-name-box .name::before {
        position: absolute;
        top: 40px;
        left: 0;
        width: 30px;
        height: 4px;
        content: '';
        background: #fff;
        margin-left: -30px; }
      .header-container .contain-box .header-name-box .name::after {
        position: absolute;
        top: 40px;
        right: 0;
        width: 30px;
        height: 4px;
        content: '';
        background: #fff;
        margin-right: -30px; }
    .header-container .contain-box .motto {
      font-family: 'Space-Mono-Regular';
      color: #fff;
      font-size: 16px; }
    .header-container .contain-box .icon-box {
      margin-top: 25px; }
      .header-container .contain-box .icon-box img {
        padding-right: 20px; }
      .header-container .contain-box .icon-box a:last-child img {
        padding-right: 0; }

.person-box {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto; }

.person-info-container .information-box {
  width: 30%; }
  .person-info-container .information-box ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .person-info-container .information-box ul li {
      padding: 0;
      margin: 20px 0; }
      .person-info-container .information-box ul li .th-name {
        width: 30%;
        display: inline-block; }
      .person-info-container .information-box ul li .content, .person-info-container .information-box ul li .content a {
        color: rgba(0, 0, 0, 0.5) !important; }
.person-info-container .introduction-box {
  width: 60%;
  color: #4d4d4d;
  line-height: 20px; }
  .person-info-container .introduction-box p {
    margin: 0;
    padding: 0;
    line-height: 30px;
    letter-spacing: 1px; }

.person-skill-container {
  background-image: url("../../images/resume/cover-bg.jpg"); }
  .person-skill-container .skills-box {
    width: 90%;
    margin: 0 auto;
    text-align: center; }
    .person-skill-container .skills-box .skill-route {
      position: relative;
      width: 220px;
      height: 220px;
      float: left; }
      .person-skill-container .skills-box .skill-route span {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -1.5em;
        text-align: center; }
    .person-skill-container .skills-box circle {
      -webkit-transition: stroke-dasharray .25s;
      transition: stroke-dasharray .25s; }

.work-experience .container {
  width: 70%;
  margin: 0 auto;
  border-left: 2px solid #e6e6e6;
  padding: 10px 0; }
  .work-experience .container .content {
    position: relative; }
    .work-experience .container .content .router {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      position: absolute;
      left: -12px;
      background: #fff;
      border: 2px solid #ff9003;
      box-sizing: border-box; }
    .work-experience .container .content .time {
      position: absolute;
      left: -114px;
      width: 100px;
      top: -10px;
      overflow: hidden;
      text-align: right;
      color: #000; }
      .work-experience .container .content .time p {
        margin: 0;
        padding: 0; }
      .work-experience .container .content .time .year {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 4px;
        color: #b96a06; }
    .work-experience .container .content .text-box {
      margin: 10px 30px 80px;
      padding: 5px 10px;
      font-size: 15px;
      color: #4d4d4d; }
      .work-experience .container .content .text-box p {
        margin: 0;
        padding: 0; }
      .work-experience .container .content .text-box .position {
        margin: 10px 0;
        color: #b96a06; }
      .work-experience .container .content .text-box .title {
        font-size: 18px;
        font-weight: bold;
        color: #b96a05; }

.el-carousel__container {
  position: relative;
  height: 550px;
  text-align: center; }

.experience-list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.item-box {
  margin-right: 10px;
  border: 1px solid #ff9003;
  padding: 5px; }

.img-box {
  background-size: cover;
  width: 240px;
  height: 427px; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 144, 0, 0.9); }

/*# sourceMappingURL=resume.css.map */
